# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Database file
*.db

# Folders
wip_files/
logs/
*.log

# Environment variables
.env
.python-version

# Storage files
logs/

# OS-specific
.DS_Store

# .ipynb files
demo_yt_client.ipynb

# .py files
demo_yt_client.py

# Frontend builds
frontend/node_modules
frontend/dist
frontend/.pnp
frontend/.pnp.js

# Environment variables for frontend
frontend/.env
frontend/.env.local
frontend/.env.*.local