# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Database file
*.db

# Folders
wip_files/
logs/
*.log

# Environment variables
.env
.python-version

# Storage files
logs/

# OS-specific
.DS_Store

# .ipynb files
demo.ipynb